* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, Helvetica, system-ui, Geneva, Tahoma, sans-serif;
}

body {
  max-width: 1024px;
  min-width: 460px;
  margin-top: 2rem;
  background-color: rgba(233, 237, 239, 0.1);
}

@media screen and (min-width: 1024px) {
  body {
      width: 80%;
      margin: auto;
  }
}

main.container {
  padding: 2rem;
}

#no-todo-item-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin-right: 2rem;
  border: 1px dotted black;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.todo-item-new .container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: end;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  flex: 1;
}

.card {
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid rgba(200, 200, 200, 0.8);
  border-radius: 1rem;
  box-shadow: 0.2rem 0.4rem aliceblue;
}

input {
  padding: 0.6rem 1rem;
  width: 100%;
  height: 100%;
}

button#add-todo-btn {
  border: 1px solid gray;
  border-radius: 0.2rem;
  background-color: #f0f8ff;
  padding: 0.8rem 2.4rem;
}

button#add-todo-btn:hover {
  cursor: pointer;
  background-color: #e0e8ee;
}

button.delete {
  margin-left: auto;

  border: 1px solid gray;
  border-radius: 10rem;
  width: 2rem;
  height: 2rem;
  background-color: #f77;
  color: white;
}

button.delete:hover {
  cursor: pointer;
  background-color: #c44;
}

.todo-item {
  transition: background-color 0.2s ease;
}

.todo-item .container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

li {
  list-style-type: none;
}

.title {
  font-size: 1.05rem;
  font-weight: 600;
}

.body {
  font-style: italic;
  margin-top: 0.2rem;
}

.strike {
  text-decoration: line-through;
}

.outer {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.2rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  background-color: white;
}

.inner-filled {
  background-color: black;
  width: 80%;
  height: 80%;
}

.visible {
  visibility: visible;
  display: block;
}

.hidden {
  visibility: collapse;
  display: none;
}
